@model IEnumerable<CourseManager.Models.QuizQuestion>

@{
    ViewData["Title"] = "Index";
}

<h1>Quizzes</h1>

    
@if(User.IsInRole("Administrator") || User.IsInRole("Teacher"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuizEduId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnswerA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnswerB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnswerC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnswerD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrectAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuizEduId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorrectAnswer)
            </td>
            <td>
                    @if(User.IsInRole("Administrator") || User.IsInRole("Teacher"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
